<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
        <add key="CityDirectory" value="D:\emsm\Documents\Projet\SCS\def.scs\def\city" />
        <add key="SleepMultiplier" value="0.5" />
        <add key="DebugMode" value="true" />
    </appSettings>
</configuration>