<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="CityDirectory" value="D:\emsm\Documents\Projet\Rider\ETS2-City-Coordinate-Retriever\raw\scs\city" />
        <add key="CompanyDirectory" value="D:\emsm\Documents\Projet\Rider\ETS2-City-Coordinate-Retriever\raw\scs\company" />
        <add key="CompanyCitiesDirectory" value="D:\emsm\Documents\Projet\Rider\ETS2-City-Coordinate-Retriever\raw\scs\company\__company_name__\editor" />
        <add key="InputFile" value="D:\emsm\Documents\Projet\Rider\ETS2-City-Coordinate-Retriever\raw\reports\bugs.txt" />
        <add key="OutputCities" value="D:\emsm\Documents\Projet\Rider\ETS2-City-Coordinate-Retriever\dist\cities.json" />
        <add key="OutputCompanies" value="D:\emsm\Documents\Projet\Rider\ETS2-City-Coordinate-Retriever\dist\companies.json" />
        <add key="DebugMode" value="true" />
    </appSettings>
</configuration>
